*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-color: lightgray;
}
.section1 {

    width: 500px;
    height: 500px;
    border: 2px solid orangered;
    
}
.article1{

    width: 20%;
    height: 250px;
    background-color: lightseagreen;
    display:inline-block;
}
.article2{

    width: 250px;
    height: 200px;
    background-color: yellow;
    display:inline-block;
}
label{
    display: inline;
    color: black;
    border: 1px solid red;
}