
body{
    background-image: linear-gradient(to left, red,black);
    color: white;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.blue{

    color: blue;
}
.azulhex{

    color: #0000ff;
}
.violetahex{
    color: #ff00ff;
}
.grishex{
    color: #aaa;
}
.rosado{
    color: rgb(255, 185, 200);
}
.mostaza{
    color: rgb(255, 210, 20);
}
.alpha{
    background-color: rgba(220, 70, 200,0.27);       
}